
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madhyanti Sporting</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
     <!-- navbar section -->
        <div class="alert alert-success" role="alert">
            | Contact No. :- +91-9827876622   |   Central Stadium Korba.
        </div>
        <nav class="navbar navbar-expand-lg sticky-top ">
            <img src="" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#timeline">Services</a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">About</a>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery">Gallery</a>
                        </li>

                        </ul>
                    </div>
                    </nav>
            <!-- intro section -->
        <section id=introSection>
            <h1 id=heading> Welcome to Madhyanti Sporting.</h1>
            <h1 id='text'>Be
                <span style="display: initial;">Bold</span>
                <span>Creative</span>
                <span>Amazing</span>
                <span>Unique</span>
                <span>Cool</span>
                <span>Awesome</span>
                </h2>
                <a href="#contact">Get In Touch</a>
        </section>
        <section id="timeline">
            <h1 id="heading10">OUR <span>WORKFLOW</span></h1>
            <br>
            <div class="process-wrapper">
                <div id="progress-bar-container">
                    <ul>
                        <li class="step step01 active">
                            <div class="step-inner">WORK ON BASIC</div>
                        </li>
                        <li class="step step02">
                            <div class="step-inner">FITNESS</div>
                        </li>
                        <li class="step step03">
                            <div class="step-inner">MATCH TEMP.</div>
                        </li>
                        <li class="step step04">
                            <div class="step-inner">PROFESSIONAL</div>
                        </li>
                        <li class="step step05">
                            <div class="step-inner">TOURNAMENTS</div>
                        </li>
                    </ul>

                    <div id="line">
                        <div id="line-progress"></div>
                    </div>
                </div>

                <div id="progress-content-section">
                    <div class="section-content discovery active">
                        <h2>WORK ON BASICS</h2>
                        <p>A good player none other the player with good basics , with this in mind madhyanti sporting seeks to work towards better acknowledgment of basic of an individual.
                        | From batting position to bowling run-up all are a main focused concern for Madhyanti Sportings . which is a main reason of being in list of Chhatisgarh's best cricket academies. 
                        </p>
                        
                        
                        
                    </div>

                    <div class="section-content strategy">
                        <h2>FITNESS</h2>
                        <p>Cricket is a sport in which fitness is traditionally not thought of as very important. The importance of fitness in any sport cannot be underlined. 
                            | The fitter you are the better you'll play. 
                            | But Cricket is one such sport which tests your game skills, mental strength, stamina and physical endurance as well.
                        </p>
                    </div>

                    <div class="section-content creative">
                        <h2>MATCH TEMPRAMENT</h2>
                        <p>if you want to become a serious cricketer, temperament is a must-have. In cricket matches, especially big ones, 
                            | it's normal to feel adrenaline soaring. Even international players feel that way. ... 
                            | Players may lose their wickets around you or you may be in a big, aggressive stand.

                        </p>
                    </div>

                    <div class="section-content production">
                        <h2>PROFESSIONALISM</h2>
                        <p>An individual joins cricket academy with a dream to represent his country at international level . This is only possible with a proper guidence in his field .
                            | Madhyanti ensures the proper development of a individual in order to fulfill the dreams . we make you capable of playing cricket professionally at various levels . 
                        </p>
                    </div>

                    <div class="section-content analysis">
                        <h2>TOURNAMENTS</h2>
                        <p>
                            | Madhyanti sportings is not only a cricket academy but also a tournament conduncting body , which conducts tournaments yearly and have teams from all over india .
                            | tournaments are conducted under the Congress and it is popular all over india . Madhyanti not only conducts tournaments but also plays it  . ut has team for all age gruop with excellent players init.

                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- about us Section -->
        <section id="about">
            <h1 id="heading10">ABOUT <span>ACADEMY</span></h1>
                <div class="media">
                    <img src="../static/png1.png" class="align-self-center mr-3" alt="...">
                    <div class="media-body">
                    <p class="mb-0">The Madhyanti Sportings Korba provides private coaching for individual cricketers, teams and coaches of various ages and experience levels. Locally and Internationally!
                        <br>
                         <br>
                        
                            | Madhyanti Sportings to deliver an unparalleled cricketing experience and provide the finest coaching programs designed for cricket academies and amateur cricketers. Hosted on world-class astroturf facilities and nets infrastructure managed at Central Stadium Korba Chatisgarh. 
                            Top facilities are the foundation to top coaching.
                            | Madhyanti Sporting is a center for cricketing excellence.Under the Mentorship of Mr. Anil Prajapati (Head Coach), provides aspiring cricketers with world-class 
                            <br>
                            training and best in class infrastructure to help them reach the next level. Our cricket program focuses on specialized coaching for batting, bowling, and wicket-keeping. The amount of training is assigned as per the 
                            skills and fitness level of the student, and adequate measures are taken care of to ensure the sport is fun for the beginners. 
                             
                         <br>
                        <br>
                        <br>
                        <a href="#">Read More</a>

                    </p>
                
                    </div>
                </div>
        </section>
        <section id="gallery">
            <h1 id="heading10">OUR <span>MEMORIES</span></h1>
                <div class="Container">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../static/team.jpg" class="d-block justify-content-center  align-items-center" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/partner.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/blue.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/IMG-20200710-WA0006.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/partner2.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/team2.jpg" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../static/team3.jpg" class="d-block " alt="...">
                        </div>
                        </div>
                        
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                         </div>
        </section>
        <section id="coach">
            <h1 id="heading10"><span>COACH</span> CORNER</h1>
            <div class="media">
                <img src="../static/coach.jpg" class="align-self-center mr-3" alt="...">
                <div class="media-body">
                <p class="mb-0">
                    <span>Mr. Anil Prajapati (Head Coach)</span>. A  committed and confident self-employed Coach to give training sessions and further develop the players and teams. </p>
                <p class="mb-0">He focus on to coordinate and deliver a structured and comprehensive programme of cricket coaching initiatives and personal development activities that will fully develop the cricketing potential of current and future players within the club.
                    he  is always positive, enthusiastic, supportive in nature, trusting, focused, goal-oriented, knowledgeable, observant, respectful to everyone , patient and a clear communicator.
                    <br>
                    <br>
                    <br>
                    <a href="#">Read More</a>

                </p>
            
                </div>
                </div>
        </section>
        <section id="contact">
            <h1 id="heading10"><span>CONTACT</span> US</h1>
            <form action="/contact"method="post" class="myForm">
             
                <input type="text"class="myInput"name="name"placeholder="enter your name" required>
                <input type="phone"class="myInput"name="phone"placeholder="enter your phone number" required>
                <input type="email"class="myInput"name="email"placeholder="enter your email" required>
                <select id="inputState" name="designation" class="myInput">
                    <option selected>Designation</option>
                    <option>Batsman</option>
                    <option>Bowler</option>
                    <option>Wicket-Keeper/Batsman</option>
                </select>
                <select id="inputState" name="age_group" class="myInput">
                    <option selected>Age Group</option>
                    <option>Under-14</option>
                    <option>Under-16</option>
                    <option>Under-19</option>
                    <option>Under-23</option>
                    <option>Seniors</option>
                </select>
                <input type="text"class="myInput"name="address"placeholder="enter your address" required>
                <button class="btn">Submit</button>
            </form>
        </section>
       
        <section id="footer">
            | Copyright 2020 madhyantisporting.com | All rights reserved
        </section>


        <script src="../static/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="../static/index2.js"></script>




</body>

</html>